body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.image-container {
    background-image: url(/Users/ct/repos/odin_sign-up_project/images/IMG_0536.jpg);
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);

}


.sign-up form {
    display: flex;
    gap: 10px;
}

.sign-up input[type="text"],
.sign-up input[type="email"],
.sign-up input[type="tel"],
.sign-up input[type="password"],
.sign-up textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}